<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Split et merge PDF</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper light-blue lighten-2">
            <a href="#" class="brand-logo center">Salut Papounet</a>
        </div>
    </nav>
</div>
<div class="container margin-top">
    <form enctype=multipart/form-data method="post">
        <div class="row  valign-wrapper">
            <div class="col s9">
                <div class="file-field input-field">
                    <div class="btn light-blue lighten-2">
                        <i class="material-icons left">attach_file</i>
                        <span>Fichiers</span>
                        <input type="file" multiple accept="application/pdf" name="files">
                    </div>
                    <div class="file-path-wrapper">
                        <label>
                            <input class="file-path validate" type="text" placeholder="Dépose tes fichiers .pdf ici">
                        </label>
                    </div>

                </div>
            </div>
            <div class="col s3">
                <button class="btn waves-effect waves-light light-blue lighten-2" type="submit" name="action">
                    Générer
                    PDF
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>